img {
  margin-top: 100px;
  border-radius: 50%;
  width: 60%;
  height: 70%;
  max-width: 400px;
  max-height: 400px;
}

.myKeyWords{
  color: black;
  font-weight: bolder;
  font-size: 40px;
}

span.span {
  position: absolute;
  white-space: nowrap;
}

.go-cv-btn{
  position: absolute;
  bottom: 20%;
}

 .go-cv-btn:hover{
  position: absolute;
  bottom: 20%;
  opacity: 0.9;
}

@media screen and (max-height: 800px) {
  .go-cv-btn {
    position: absolute;
    top: 15%;
    max-width: 200px;
    max-height: 40px;
  }
}

@media screen and (max-width: 400px) and (max-height: 569px){
  .myKeyWords{
    color: black;
    font-weight: bolder;
    font-size: 20px;
  }

  img {
    margin-top: 100px;
    border-radius: 50%;
    width: 60%;
    height: 70%;
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 400px) and (min-height: 570px){
  .myKeyWords{
    color: black;
    font-weight: bolder;
  }

  img {
    margin-top: 100px;
    border-radius: 50%;
    width: 60%;
    height: 70%;
    max-width: 400px;
    max-height: 400px;
    margin-bottom: 30px;
  }
}
