.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  min-height: 450px;
  min-width: 700px;
  background-color: rgba(233, 233, 233, 0.589);
  margin-top: 10%;
}

.nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #e1e2eb;
  background-color: rgba(143, 141, 141, 0.692);
}

.member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid rgba(70, 68, 68, 0.705);
  position: relative;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: rgba(233, 233, 233, 0.568);
  border: 0;
  border-top: 1px solid #eee;
  height: 90%;
  padding: 15px 0 30px 0;
}




