<div class="row mt-2">
  <div class="col-5 d-flex justify-content-center">
    <img class="img-thumbnail" src="assets/img/profile-pic.png" alt="">
  </div>

  <div class="col-6 mt-1">
    <div class="row">
      <p class="about-me-p">
        <span>
          <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
        </span>
        Pedro de Sousa Marques Silva</p>
    </div>
    <div class="row">
      <p class="about-me-p">
        <span>
          <i class="fa fa-birthday-cake fa-lg" aria-hidden="true"></i>
        </span>
        05/05/88</p>
    </div>
    <div class="row">
      <p class="about-me-p">
        <span>
          <i class="fa fa-globe fa-lg" aria-hidden="true"></i>
        </span>
        Porto</p>
    </div>
    <div class="row">
      <p class="about-me-p"><span>
        <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
      </span>
      pedrosms@outlook.pt</p>
    </div>
    <div class="row">
      <p class="about-me-p">
        <span>
          <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
        </span> linkedin.com/in/pedrosms
      </p>
    </div>
    <div class="row">
      <p class="about-me-p">
        <span>
          <i class="fa fa-github-square fa-lg" aria-hidden="true"></i>
        </span>
        github.com/PedroSMS
      </p>

    </div>
  </div>
</div>

<div class="row mt-4 d-flex justify-content-center">
  <div class="col-12">
    <div id="about-me-div-p">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <p>Donec gravida ut enim nec cursus. Phasellus pellentesque quis justo.</p>
      <p>Vivamus ultrices, dolor in elementum facilisis,</p>
      <p>turpis magna auctor libero, nec rhoncus arcu ipsum eu ex</p>
    </div>
  </div>
</div>
