<div class="row mt-5 d-flex justify-content-center">
  <div class="tab-panel">
    <tabset class="member-tabset" >

      <tab heading="About me">
        <div class="col-12">
          <app-about-me></app-about-me>
        </div>
      </tab>

      <tab heading="Skills">

        <div class="col-12" >
          <app-skills></app-skills>
        </div>
      </tab>

      <tab heading="Soft Skills">

        <div class="col-12">
          <app-soft-skills></app-soft-skills>
        </div>
      </tab>

      <tab heading="Projects">
        <div class="col-12">
          <app-projects-list></app-projects-list>
        </div>
      </tab>

      <tab heading="Contact me">
        <div class="col-12">
          <app-contact></app-contact>
        </div>
      </tab>

    </tabset>

  </div>
</div>
