<div class="row m-1">
  <h6 class="mb-1 mt-2">Team Player</h6>
  <div class="progressBar">
    <div class="progressBar-all" id="progressTP"></div>
  </div>
</div>

<div class="row m-1">
  <h6 class="mb-1 mt-2">Versatility</h6>
  <div class="progressBar">
    <div class="progressBar-all" id="progressV"></div>
  </div>
</div>

<div class="row m-1">
  <h6 class="mb-1 mt-2">Empathy</h6>
  <div class="progressBar">
    <div class="progressBar-all" id="progressE"></div>
  </div>
</div>

<div class="row m-1">
  <h6 class="mb-1 mt-2">Problem Solver</h6>
  <div class="progressBar">
    <div class="progressBar-all" id="progressPS"></div>
  </div>
</div>


