<div class="row">
  <div class="col-6 d-flex justify-content-center">
    <img class="img-thumbnail" src="assets/img/profile-pic.png" alt="">
  </div>

  <div class="col-6">
    <div class="row">
      <p class="about-me-p">Pedro de Sousa Marques Silva</p>
    </div>
    <div class="row">
      <p class="about-me-p">05/05/88</p>
    </div>
    <div class="row">
      <p class="about-me-p">Porto</p>
    </div>
    <div class="row">
      <p class="about-me-p">CET - ATEC</p>
    </div>
    <div class="row">
      <p class="about-me-p">Junior Software Developer</p>
    </div>
    <div class="row">
      <p class="about-me-p">pedrosms@outlook.pt</p>
    </div>
    <div class="row">
      <p class="about-me-p">
        <span>
          <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
        </span> linkedin.com/in/pedrosms
      </p>
    </div>
    <div class="row">
      <p class="about-me-p">
        <span>
          <i class="fa fa-github-square fa-lg" aria-hidden="true"></i>
        </span>
        github.com/PedroSMS
      </p>

    </div>
  </div>
</div>

<div class="row mt-3 d-flex justify-content-center">
  <div class="col-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida ut enim nec cursus. Phasellus pellentesque quis justo sed sagittis. Vivamus ultrices, dolor in elementum facilisis, turpis magna auctor libero, nec rhoncus arcu ipsum eu ex</p>
  </div>
</div>
